.DBlock{
    padding-top: 7px;
    /*white-space: nowrap;*/
    display: inline-block;
}

.DButton{
    text-align: center;
    vertical-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #808080;
}

.DGrid{
    border: 1px solid #808080;
    background: white;
    box-sizing: border-box;
    user-select: none;
}

.DGrid table
{
    border-collapse: collapse;
    outline: none;
}
.DGrid thead
{
/*    background: #808080;*/
}

.DGrid td, th
{
    background: white;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}


.DGrid .fixed_cell
{
    background: #eee no-repeat;
    background-image: linear-gradient(#aaa, #ddd);
    background-position: 1px 1px;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    /*    overflow: hidden;*/
}

.DGrid .cell
{
    background: white;
}

.cell_p
{
    overflow: hidden;
    margin: 0px;
    padding: 2px;
/*    text-overflow: ellipsis;*/
    white-space: nowrap;
    box-sizing: border-box;
}

.TSpeedButton
{
    border: 1px solid #b0b0b0;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    /*border-radius: 3px 3px 3px 3px;*/
    outline: none;
}

.TSpeedButton:hover {
    border: 1px outset;
}

.TSpeedButton:active {
    border: 1px inset;
    background-position: 5px 5px;
}

.TStatusBar {
    display: flex;
    /*margin-top: 1px;*/
/*    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
}

.TStatusPanel{
    border: 1px inset;
    margin-top: 1px;
    margin-right: 3px;
    padding: 1px 2px;
    user-select: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}


.SUBMENU
{
    left: -1px;
    Top: 110%;
    list-style: none;
    display: block;
    visibility: hidden;
    padding: 2px;
    position: absolute;
    border: 1px solid #b0b0b0;
    background: #cccccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,.25);
    z-index: 5;
/*    transition: 0.3s linear;*/
}

.SUBMENU .SUBMENU
{
    left: 100%;
    top: -1px;
}

.SUBMENU .MENUITEM
{
    display: block;
    padding-left: 20px;
}

/*.MENUITEM:active
{
    visibility: hidden;
}*/

/*.MENUITEM:hover:not(.no-hover) > .SUBMENU*/
/*.MENUITEM:hover > .SUBMENU
{
    visibility: visible;
}*/

/*.MENUITEM:active .SUBMENU
{
    visibility: hidden;
}*/

.modal_overlay{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    -moz-opacity: 0;
    opacity:.0;
    filter: alpha(opacity=0);
}

.modal_dialog {
    display: block;
    position: absolute;
    border: 1px solid #404040;
    box-shadow: 5px 5px 10px rgba(0,0,0,.25);
    background-color: #cccccc;
    box-sizing: border-box;
    font-family: "Arial", serif;
    font-size: 10pt;
    margin: 30px;
}

.modal_dialog .modal_client
{
    /*margin: 3px 3px 3px 3px;*/
    position: absolute;
    overflow: auto;
}

/* кнопка закрытия окна */
.modal_dialog .btn-close {
    color: #fff;
/*    height: 1px;
    width: 20px;*/
/*    cursor: pointer;*/
    font-size: 22px;
    position: absolute;
    right: 4px;
    top: -1px;
//    text-decoration: none;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal_dialog .btn-close:hover {
    color: red;
}


.modal_dialog h2
{
    background: radial-gradient(#6060ff, #a0a0ff);
/*    border-radius: 5px 5px 0px 0px;*/
/*    background-color: navy;*/
/*    height: 20px;*/
    padding: 4px 20px 4px 4px;
    box-sizing: border-box;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    line-height: 1;
    text-shadow: 1px  1px 0 #6060ff,
                 1px -1px 0 #6060ff,
                -1px  1px 0 #6060ff,
                -1px -1px 0 #6060ff;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*
 * DPageControl
 */

.DPageControl {
    width: 100%;
    height:100%;
}
.DPageControl ul,
.DPageControl li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.DPageControl,
.DPageControl input[type="radio"]:checked + label {
    position: relative;
}
.DPageControl li,
.DPageControl input[type="radio"] + label {
    display: inline-block;
}
.DPageControl li > div,
.DPageControl input[type="radio"] {
    position: absolute;
}
.DPageControl li > div,
.DPageControl input[type="radio"] + label {
    border: solid 1px #ccc;
}
.DPageControl {
    font: normal 11px Arial, Sans-serif;
    color: #404040;
}
.DPageControl li {
    vertical-align: top;
}

.DPageControl li:first-child {
    margin-left: 3px;
}
.DPageControl li > div {
    top: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.DPageControl input[type="radio"] + label {
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 24px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.DPageControl input[type="radio"]:checked + label {
    z-index: 1;
    background: #fff;
    border-bottom-color: #fff;
    cursor: default;
}
.DPageControl input[type="radio"] {
    opacity: 0;
}
.DPageControl input[type="radio"] ~ div {
    display: none;
}
.DPageControl input[type="radio"]:checked:not(:disabled) ~ div {
    display: block;
}
.DPageControl input[type="radio"]:disabled + label {
    opacity: .5;
    cursor: no-drop;
}

.sticky {
    position: sticky;
    top: 0;
    min-height: 2em;
    background: lightpink;
}